.story{
    margin-top: 150px;
    display: flex;
    gap: 50px;

    &__heading{
        margin-bottom: 20px;
    }
    &__description{
        display: block;
        margin-bottom: 50px;
        font-size: 1.333333rem;
        line-height: 1.4583;
        font-weight: 700;
    }
}

@media screen and (max-width: 1399.98px){
    .story{
        justify-content: center;
        flex-wrap: wrap-reverse;
        text-align: center;
        &__image{
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 767.98px){
    .story{
        margin-top: 100px;
    }
}
@media screen and (max-width: 479.98px){
    .story{
        margin-top: 75px;
    }
}